@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*{
    margin:0;
    padding:0;
    border:0;
}


body{
    font-family: Roboto;
    color:#777777;
}
.header {
    border-bottom: 1px solid #1e7e34;
    margin-bottom: 1.5rem;
}
h2{
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#555555;
}
#logo-img, #title{
    display: inline;
}

#logo-img{
     height: 7.5rem;
    max-width: 7.5rem;
    border-radius: 0.625rem;
    border: 1px solid #06f806;
}
#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
}
 
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}


#logo, #menu{
    line-height: 75px;
}


#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #06f806;
}
p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 22px;
    float: left!important;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*Footer*/
.footer-outer {
    background: #171a1a;
    width: 100%;
    margin-top: 15px;
}
div{
    display:block;
}
.copyright {
    max-width: 920px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    background-color: transparent;
}
.specer {
    clear: both;
    display: block;
    padding: 0;
    margin: 0;
}
.copyright ul li {
    display: inline-block;
}
a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.copyright ul li a {
    display: inline-block;
    text-decoration: none;
    color: #c4bbbb;
    display: block;
    padding-right: 12px;
}
a.copy-right {
    float: right;
    margin-top: -33px;
    cursor: pointer;
}
