@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #020122;
    background-color: #73ba9b;
    display: flex;
    flex-direction: column;
}

.h1, h1 {
    font-size: 2rem;
}

h2 {
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #020122;
    text-align:center;
    text-decoration: underline;
}
h4{
    text-decoration: underline;
}
h5{
    text-align: center;
}

p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.4rem;
    padding: 0;
    display: block;
    color: #020122;
}
/*Home Page*/
.right {
    float: right;
}

.full-width {
    width: 100%;
}

.info-text {
    padding-top: 2rem;
}


/*Swimming Page*/

.swimming-times-two{
    padding-top:4%
}
.swimming-times{
    padding-top:4%
}
.swimming-full-width-top{
    width: 100%;
}
.swimming-full-width{
    width: 100%;
    padding-top:4%;
    padding-bottom: 4%;
}
.team-swimming{
    width:100%;
    /* height:50% */
    object-fit:cover;
}
.team-row{
    display:inline;
}

/* Images.html */
    .carousel-item{
     width: auto;
  height: 630px;
  max-height:630px;
}   

.results p{
    text-align: center;
    font-size: 1.25rem;
    text-decoration: underline;
}
.results ul{
    text-align:center;
    display:inline;
    font-size:1.25rem;
}
/* Contact.html */
.contact{
    background-color: rgba(66, 3, 61, 0.4);
    border-radius: 5%;
    padding: 2rem;
    margin: 1rem;
}


/*Footer*/
.footer {
    flex-shrink: 0;
    background-color: #736f72;
}
.address-footer {
    color: #42033D;
}
.opening-footer{
     color: #42033D;
}
.address-footer a{
    color:#020122;
}
.fab:hover {
    color: #42033D;
}
.social-links {
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
}
.social-links i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #020122;
}
.social-links a {
    padding: 0 .3rem;
}
@media (min-width: 992px) {
    .social-links {
        font-size: 3rem;
        padding: 1.5rem;
      
    }
    .social-links a {
        padding: .6rem;
    }
}
@media (min-width:769px){
.team-swimming{
    width:100%;
    height:50%;
    object-fit:cover;
}
}
/* Carousel for the Swimming */
@media (max-width:767px){
     .carousel-item{
     width: auto;
  height: 250px;
  max-height:250px;
}   
}


